.header_img{
  min-width: 100%;
  position: absolute;
}

.header_rect {
  position: relative;
  display: block;
  top: 320px;
  left: 100px;
  width: 80%;
  height: auto;
}

#new_zealand {
  position: relative;
  display: block;
  width: 70%;
  height: 50px;
  background: rgba(0, 0, 0, 0.66);
  color: #9ac6f0;
  font-size: 4vw;
  top: 10px;
  left: -60px;

  transform: rotate(-28deg);

}

#new_zealand p {
  padding-left: 60px;
  font-family: 'Karla', sans-serif;
  letter-spacing: 10px;
}
